<html>
    <head>
        <title></title>
        <style>
            .logo {
                display: flex;
                gap: 1rem;
                align-items: center;
                position: fixed;
                top: 0;
                left: 0;
                opacity: 0.8;

                transform: translate(10%, -10%);
            }

            .logo h2 {
                font-size: 3rem;
            }

            body {
                height: 100vh;
                overflow: hidden;
            }

            .main {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .files-container {

                display: flex;
                flex-direction: column;
                position: relative;
                width: 60%;
                justify-content: center;
                gap: 2rem;
                padding: 4rem;
                margin: 2rem;
                border: 1px solid #ccc;
                border-radius: 1rem;
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

                margin-top: -200px;
                        
            }
            
            .files {
                display: flex;
                justify-content: left;
                gap: 4rem;
                flex-wrap: wrap;
            }
            
            .add-file {
            
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(10%, -70%);
                font-size: 2rem;
                display: flex;
                align-items: center;
                gap: 1rem;
            
            }

            .share {

                position: absolute;
                top: 0;
                right: 0;
                transform: translate(0%, -150%);
                font-size: 2rem;
                opacity: 0.6;
                scale: 0.6;

            }
            
            .file a {
            text-decoration: none;
            color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            }
            
            .file .delete {
            
            position: absolute;
            
            }
            
            .file .delete {
            
            position: absolute;
            top: 20%;
            transition: scale 0.3s;
            
            }
            
            .file .delete:hover {
            
            scale: 1.1;
            
            }
            
            .file img {
            
            transition: scale 0.3s;
            
            }
            
            .file img:hover {
            
            scale: 1.1;
            
            }

            .back {

                position: absolute;
                bottom: 0;
                transform: translateY(125%);

            }

            .text {

                display: flex;
                gap: 0.25rem;

            }

            .download {
                position: absolute;
                top: 0%;
                transform: translateY(-200%);

                transition: scale 0.3s;
            }

            .download:hover {

                scale: 1.1;

            }

            div {
                position: relative;
            }
        </style>
    </head>
    <body>
        <div class="logo">
            <h2>File Dookie </h2>
            <img src="/assets/icon.png" height="50px" width="50px" alt="Logo">
        </div>
    
        <div class="main">
            <div class="files-container">
                <div class="add-file">
                    <h3><%= folder.name %></h3>
                </div>
                <div class="share">Shared</div>

                <div class="files">
                    <% if(files.length > 0){ %>
                        
                            <% files.forEach((file) => { %>
                                <div class="file">
                                <a href="#">
                                    <img src="/assets/file.svg" height="80px" width="80px" alt="File Icon">
                                    <div>
                                        <div class="text"><strong>Name:</strong> <%= file.name %><br></div>
                                        <div class="text"><strong>Size:</strong> <%= (file.data.length / 1024).toFixed(2) %> KB<br></div> <!-- Assuming size is in bytes -->
                                        <div class="download"><a href="/folders/<%= folder.id %>/files/<%= file.id %>/download" class="download-button"><img src="/assets/download.svg" height="24px" width="24px" alt=""></a></div>
                                    </div>
                                </a>
                            </div>
                            <% }) %>
                        
                    <% } else { %>
                        <h3>No files in this folder</h3>
                    <% } %>
                </div>
            </div>
        </div>
    </body>
</html>